<strong>Olá, {{ student }}</strong>
<p>Sua matricula foi efetuada com sucesso!</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br>
  <strong>Data de termino: </strong> {{ end_date }} <br>
  <strong>Preço: </strong> {{ price }} <br>
</p>
